input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus {
  box-shadow: none;
}

.btn {
  width: 100%;
}

.search {
  background-color: #fca311;
  color: #fff;
}

h4 {
  color: #14213d;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #fca311;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
}

.pending {
  background-color: #fff;
  color: #d7263d;
}

.completed {
  background-color: #fff;
  color: #06d6a0;
}

.captialize {
  text-transform: capitalize;
}

.pendingCard {
  &:hover {
    box-shadow: 0 0 10px #d7263d;
  }
}

.completedCard {
  &:hover {
    box-shadow: 0 0 10px #06d6a0;
  }
}
