h1{
  margin: 0;
  background-color: #888;
}
.chatscreen{
  //position: relative;
  background-color: white;
  min-width:100%;
  // max-width: 100%;
  min-height:100%;
  overflow-y: scroll;
  height: 700px;
  margin:0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-left:1px solid #d3d3d3;
  border-right:1px solid #d3d3d3;
}



  .bot-input{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    position:fixed;
    bottom:0;
  }
  
  .bot-output {
    flex: 1;
    display: flex;
    background: white;
    flex-direction: column;
    flex-wrap:wrap;
    padding:2%;
    gap:1%;
  }
  .message{
    display: inline-block;
    background:#d3d3d3;
    padding:1%;
    border-radius:8px;
  }

  .showbuttons{
    display:grid;
    grid-template-columns:auto auto auto auto;
    justify-content: start;
    padding-left: 2%;
    gap:1%;
  }
  .issue-button{
    background-color:#63c5da;
    color:white;
    border-radius: 8px;
    border: 1px solid #63c5da;
  }
  #image-issues{
    // border-radius: 20%;
    padding-left: 3%;
  }
  #card-style{
    margin-left:2%;
    width:40%;
    padding-bottom:2%;
    border: 1px solid #d3d3d3;
    background-color:#f5f5f5;
  }
  .card-body{
    padding:2%;
    padding-left:3%;
  }
  .user-input {
    width:90%;
    height:50px;
    font-size:20px;
    border:1px solid #d3d3d3;
    background-color: #f5f5f5;
    border-radius:5px;
    padding: 2%;
    // position: absolute;
  }

  .bot-message{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    gap:1%;
  }
  .userStyleColor{
    background:#fca311;
    padding:1%;
    border-radius:8px;
    color: white;
  }
  .userStyleRight{
    text-align: left;
    flex-direction: row;

  }

  .card-img-top{
    padding:2%;
    object-fit:cover;
  }