<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-5">
    <div class="col-md"></div>
    <div class="col">
      <div class="d-flex flex-column">
        <div class="my-3 text-center"><h4>Sign in to your account</h4></div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="name@presidio.com"
            name="email"
            #email="ngModel"
            [(ngModel)]="user.email"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            #password="ngModel"
            [(ngModel)]="user.password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button type="button" class="btn text-white small">
          <strong>Register</strong>
        </button>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
</div>
